server:
  port: 8085
spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          uri: https://github.com/manashbarman007-cmyk/microservice-tutorial-config-server  
          clone-on-start: true # The Config Server will clone the Git repository immediately during startup
    kubernetes:
      config:
        enabled: true
        name: config-map
eureka:
  instance:
    prefer-ip-address: true
    ip-address: ${spring.application.name}:${server.port}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}